<meta charset="utf-8">

{% include seo.html %}

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- 正确的根目录绝对路径 -->
<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="/assets/css/academicons.css">
<link rel="icon" type="image/png" href="/images/favicon.png">

<meta http-equiv="cleartype" content="on">

<!-- 将 <base> 标签直接放在这里，不要嵌套在另一个 <head> 里 -->
<base target="_blank">